.word-component {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: background 200ms ease-in-out;
}

.active {
    background: rgb(210, 210, 210);
}