<ion-header>
  <ion-toolbar mode="ios" class="no-selection">
    <ion-buttons slot="start">
      <ion-back-button text="Lesson" (click)="leaveLessonClick()"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      Sentence {{sentenceIndex}} of {{this.lessonsData.getLessonByID(this.lessonId).sentences.length}}
    </ion-title>
    <ion-buttons id="next-sentence" slot="end" (click)="nextSentenceClick()">
      <ion-label id="next-sentence-text">Next</ion-label>
      <ion-icon id="next-sentence-icon" name="arrow-forward"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p [innerHTML]="sentenceShown" id="sentence-to-show"></p>
  <div class="no-selection" id="navigation-and-hint-buttons" style="visibility: hidden;">
    <p id="previous-word-button" (click)="previousWordClick()">
      < 
    </p>
    <p id="next-word-button" (click)="nextWordClick()">
      >
    </p>
    <ion-button shape="round" id="hint-button" (click)="hintClick()">
      ?
    </ion-button>
  </div>
</ion-content>

<ion-footer id="footer">
  <ion-toolbar mode="ios" no-padding class="no-selection">
    <div [style.opacity]="this.displayButtons ? '1' : '0'" 
      [style.visibility]="this.displayButtons ? 'visible' : 'hidden'" 
      id="chars">
      <ion-button shape="round" (click)="firstCharBoxClick()" class="char-box" id="first-char-box">
        {{firstChar}}
      </ion-button>
      <ion-button shape="round" (click)="secondCharBoxClick()" class="char-box" id="second-char-box">
        {{secondChar}}
      </ion-button>
      <ion-button shape="round" (click)="thirdCharBoxClick()" class="char-box" id="third-char-box">
        {{thirdChar}}
      </ion-button>
      <ion-button shape="round" (click)="fourthCharBoxClick()" class="char-box" id="fourth-char-box">
        {{fourthChar}}
      </ion-button>
    </div>
    <div id="give-up-button-container">
      <ion-button shape="round" (click)="giveUpClick()" id="give-up-button">
        Give<br>up
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>