.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ios :host #next-sentence-text {
    font-size: 17px;
    color: #3880ff;
}

.ios :host #next-sentence-icon {
    font-size: 1.85em !important;
    color: #3880ff;
}

.md :host #next-sentence-icon {
    font-size: 24px !important;
}

.md :host #next-sentence {
    margin-right: 2vmin;
}

.md :host #next-sentence-text {
    margin-right: 2vmin;
    text-transform: uppercase;
    font-size: 14px;
}

#sentence-to-show {
    text-align: start;
    font-size: 4vh;
    letter-spacing: 2px;
    padding: 0;
    margin-left: 3vw;
    margin-right: 3vw;
    line-height: 5vh;
    max-height: 45vh;
    overflow-y: auto;
}

#navigation-and-hint-buttons {
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#previous-word-button {
    color: grey;
    height: 9vh;
    font-size: 7vh;
    line-height: 9vh;
    float: left;
    margin: 0 0 0 5vw;
}

#next-word-button {
    color: grey;
    height: 9vh;
    font-size: 7vh;
    line-height: 9vh;
    float: right;
    margin: 0 5vw 0 0;
}

#hint-button {
    height: 8vh;
    width: 8vh;
    display: block;
    margin: 0 auto;
    font-size: 7vh;
    outline: none;
    --background: white;
    --color: black;
    --box-shadow: none;
    --border-radius: 50%;
    border-radius: 50%;
}

#footer {
    visibility: hidden;
    height: 40vmin;
}

#chars {
    height: 24vmin;
    width: 100vw;
    float: none;
    transition: all .5s;
}

.char-box {
    display: inline-block;
    height: 23vw;
    width: 23vw;
    margin: 1vw;
    text-align: center;
    font-size: 17vw;
    outline: none;
    border-radius: 50%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    color: black;
}

.front, .back {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border: 2px solid rgb(206, 206, 206);
}

.front {
    background: rgb(228, 228, 228);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(228, 228, 228);
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

#give-up-button-container {
    height: 16vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

#give-up-button {
    height: 14vmin;
    width: 14vmin;
    margin: 1vw;
    font-size: 2vh;
    outline: none;
    --background: rgb(228, 228, 228);
    --color: black;
    --box-shadow: none;
    --border-radius: 50%;
    border-radius: 50%;
}

@media (min-width: 1px) and (max-width: 600px) {
    #sentence-to-show {
        font-size: 6vw;
    }
}

@media (min-width: 600px) and (max-width: 992px) {
    #sentence-to-show {
        font-size: 4vw;
    }
}

@media (min-width: 992px) {
    #chars {
        height: 18vmin;
        width: 58vw;
        float: left;
    }

    #give-up-button-container {
        width: 14vw;
        float: right;
    }

    .char-box {
        height: 13vh;
        width: 13vh;
        font-size: 9vh;
    }

    #footer {
        height: 18vmin;
        width: 72vw;
    }

    #navigation-and-hint-buttons {
        width: 72vw;
    }

    #sentence-to-show {
        font-size: 3vw;
    }
}

@media (min-width: 700px) {
    #give-up-button {
        font-size: 3.5vmin;
    }
}