#canvas-div {
    height: 33px;
    width: 33px;
    float: right;
}

.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

.header-md:after {
    background-image: none;
}