<ion-content scrollY="false">

  <ion-header>
    <ion-toolbar id="toolbar" mode="ios" class="no-selection">
      <ion-buttons slot="start" (click)="goBack()">
        <ion-button>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        Sentence {{this.lessonsDataService.getSentenceNumberByIDs(this.lessonId, this.sentenceId) + 1}} of {{this.lessonsDataService.getLessonByID(this.lessonId).sentences.length}}
      </ion-title>
      <ion-buttons slot="end">
        <div id="canvas-div">
          <canvas #pieCanvas width="33" height="33"></canvas>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <app-guess-bar></app-guess-bar>
</ion-content>