<ion-header>
  <ion-toolbar class="no-selection">
    <ion-buttons slot="start">
      <ion-back-button text="Lesson" (click)="leaveLessonClick()"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>
      Sentence {{sentenceIndex}} of {{this.lessonsData.getLessonByID(this.lessonId).sentences.length}}
    </ion-title>
    <ion-buttons slot="end" (click)="logStat()">
      <div id="next-sentence-button" style="height: 7vw; width: 7vw;" (click)="nextSentenceClick()">
        <ion-icon style="font-size: 7vw;" name="arrow-forward"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p [innerHTML]="sentenceShown" id="sentence-to-show"></p>

  <div id="navigation-and-hint-buttons" style="visibility: hidden;">
    <span id="previous-word-button" (click)="previousWordClick()">
      < 
    </span>
    <span id="next-word-button" (click)="nextWordClick()">
      >
    </span>
    <button id="hint-button" (click)="hintClick()">
      ?
    </button>
  </div>
</ion-content>

<ion-footer id="footer" style="visibility:hidden;">
  <ion-toolbar no-padding class="no-selection">
    <div style="height: 24vmin;">
      <button *ngIf="this.displayButtons" @fade (click)="firstCharBoxClick()" class="char-box" id="first-char-box">
        {{firstChar}}
      </button>
      <button *ngIf="this.displayButtons" @fade (click)="secondCharBoxClick()" class="char-box" id="second-char-box">
        {{secondChar}}
      </button>
      <button *ngIf="this.displayButtons" @fade (click)="thirdCharBoxClick()" class="char-box" id="third-char-box">
        {{thirdChar}}
      </button>
      <button *ngIf="this.displayButtons" @fade (click)="fourthCharBoxClick()" class="char-box" id="fourth-char-box">
        {{fourthChar}}
      </button>
    </div>
    <div style="height: 16vmin; display: flex; align-items: center; justify-content: center;">
      <button (click)="giveUpClick()" id="give-up-button">
        Give up
      </button>
    </div>
  </ion-toolbar>
</ion-footer>