.header-ios.ion-toolbar:last-child {
    --border-width: 0;
}

ion-toolbar {
    --background: #FFF !important;
    --border-width: 0 !important;

    ion-title {
        color: black;
    }

    ion-buttons {
        margin-left: 4%;
    }
}

#user-email {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: black;
}

.list-block {
    height: 40px;
    border-radius: 20px;
    margin: 2vh 20vw;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    background: #f2f6ff;
    font-weight: bold;
    color: #00baff;

    transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;

    &:hover {
        background: #d7dbe4;
    }
}

#logout-button {
    height: 40px;
    border-radius: 20px;
    margin-top: 25vh;
    margin-left: 35vw;
    margin-right: 35vw;
    cursor: pointer;
    line-height: 35px;
    border: 2px solid #00baff;
    background: rgba(255, 255, 255, 1);
    color: #00baff;
    font-weight: bold;

    transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -webkit-transition: background 0.3s ease;

    &:hover {
        background: rgba(0, 186, 255, 0.2);
    }

    @media (min-width: 992px) {
        margin-left: 30vw;
        margin-right: 30vw;
    }
}

#user-avatar {
    transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;

    height: 150px;
    width: 150px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

    &:hover {
        transform: scale(1.1);
    }
}