<ion-content scrollY="false">
  <ion-header mode="ios">
    <ion-toolbar mode="ios" style="--background: #f2f6ff;">
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src="assets/img/menu_icon.svg">
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content id="outer-content" scrollY="false">
    <div padding-top text-center>
      <img id="user-avatar" class="avatar" (click)="openChooser()" [src]="this.globals.userAvatar || 'assets/img/account_icon.svg'" alt="avatar">
      <input id="file-input" type="file" name="name" style="display: none;" />
      <div id="user-email">{{userEmail}}</div>
      <ion-button class="list-block" (click)="changePassword()">Change password</ion-button>
      <ion-button class="list-block" (click)="deleteAccount()">Delete account</ion-button>
      <ion-button class="list-block" (click)="logout()" id="logout-button" fill="outline">Logout</ion-button>
    </div>
  </ion-content>
</ion-content>