<ion-content scrollY="false">
  <ion-header mode="ios">
    <ion-toolbar mode="ios" style="--background: #f2f6ff;">
      <ion-buttons slot="start">
        <ion-menu-button (click)="toggleMenu()">
          <img src="assets/img/menu_icon.svg">
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="outer-content">
    <div padding-top text-center>
      <img src="assets/img/account_icon.svg" alt="avatar" style="max-width: 150px">
      <div id="user-email">{{userEmail}}</div>
      <div class="list-block" (click)="changePassword()">Change password</div>
      <div class="list-block" (click)="deleteAccount()">Delete account</div>
      <div id="logout-button" (click)="logout()">Logout</div>
    </div>
  </ion-content>
</ion-content>