<ion-content scrollY="false">

  <ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start" id="menu-button">
        <ion-menu-button>
          <img src="assets/img/menu_icon_white.svg">
        </ion-menu-button>
      </ion-buttons>
      <ion-title class="no-selection">
        My lessons
      </ion-title>
      <ion-buttons slot="end" id="desktop-refresher-lessons">
        <button id="edit-lessons-button" (click)="toggleEditingMode()" [ngStyle]="{'color': editModeOn ? 'var(--ion-color-warning)' : 'white'}"
          *ngIf="this.globals.platformName === 'ios' || this.globals.platformName === 'android'">Edit</button>
        <ion-icon *ngIf="this.globals.platformName === 'web' ||
        this.globals.platformName === 'electron' ||
        this.globals.platformName === 'desktop'" name="refresh-circle" (click)="doRefresh()" id="refresher-button">
        </ion-icon>
      </ion-buttons>
    </ion-toolbar>

    <div id="segments-div">
      <ion-segment id="lessons-filter-segment" class="no-selection" mode="ios" [(ngModel)]="filter"
        (ionChange)="filterChanged()">
        <ion-segment-button value="all" mode="ios">
          All
        </ion-segment-button>
        <ion-segment-button value="almost-correct" id="center-segment" mode="ios">
          Almost correct
        </ion-segment-button>
        <ion-segment-button value="not-correct" mode="ios">
          Not correct
        </ion-segment-button>
      </ion-segment>
    </div>

  </ion-header>

  <span *ngIf="this.globals.getIsDemo()" id="tip-add-lesson" class="no-selection">
    Click button &#8680; <br>to add your own <b> lesson</b>
  </span>

  <ion-content id="list-scroll">

    <ion-refresher *ngIf="this.globals.platformName === 'ios' || this.globals.platformName === 'android'"
      (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown-circle" refreshingSpinner="bubbles">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list id="lessons-list" [@lessonsAnimation]="displayedLessons.length" no-padding no-margin
      style="padding-top: 2vh; padding-bottom: 8em;">
      <ion-item *ngFor="let lesson of this.displayedLessons" class="lesson-ion-item no-selection" no-padding>
        <div *ngIf="(this.globals.platformName === 'ios' || this.globals.platformName === 'android')"
          class="mobile-controls">
          <ion-icon (click)="openLink(lesson.url)" name="globe" color="secondary"></ion-icon>
          <ion-icon (click)="shareLesson(lesson.id)" name="share-alt" color="primary"></ion-icon>
          <ion-icon (click)="editItem(lesson.id)" name="create" color="warning"></ion-icon>
          <ion-icon (click)="deleteItem(lesson.id)" name="trash" color="danger"></ion-icon>
        </div>
        <div [ngStyle]="{'transform': this.editModeOn ? 'translateX(30%)' : 'translateX(0)'}"
          [ngClass]="{'dashed': this.globals.getIsDemo()}" (click)="openLesson(lesson, $event)">
          <div>
            <div>
              <p>
                {{lesson.name}}
              </p>
              <div class="sentences-number">
                ({{lesson.sentencesCount}})
              </div>
            </div>
            <div class="date">
              {{lesson.displayedDate}}
            </div>
            <div class="desktop-controls" *ngIf="this.globals.platformName === 'web' || 
              this.globals.platformName === 'electron' || this.globals.platformName === 'desktop'">
              <ion-icon (click)="openLink(lesson.url)" name="globe" color="secondary"></ion-icon>
              <ion-icon (click)="shareLesson(lesson.id)" name="share-alt" color="primary"></ion-icon>
              <ion-icon (click)="editItem(lesson.id)" name="create" color="warning"></ion-icon>
              <ion-icon (click)="deleteItem(lesson.id)" name="trash" color="danger"></ion-icon>
            </div>
          </div>
          <ion-icon id="share-icon" *ngIf="lesson.parentId" name="md-share"></ion-icon>
          <div>
            <canvas #statsLessonsCanvases width="50" height="50"></canvas>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-fab id="add-lesson-fab" [ngClass]="{'hidden-btn': contentIsScrolled}" (click)="addLessonFile()" vertical="bottom"
    horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>