#date-segment {
    width: 100vw !important;
}

.ios :host #date-segment {
    width: 95vw !important;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2.5vw;
}

.lesson-card {
    width: 100%;
    height: 10vh;
    background-color: var(--ion-color-step-50);
    color: var(--ion-color-step-850);
    margin-bottom: 0.2vh;
    cursor: pointer;
    display: table;
    table-layout: fixed;
    &:hover {
        background-color: var(--ion-color-step-100);
        .lesson-text {
            color: var(--ion-color-step-900);
        }
        .date-text {
            color: var(--ion-color-step-900);
        }
    }
}

.lesson-text-div {
    width: 80vw;
    overflow: hidden;
    display: table-cell;
    vertical-align: top;
    padding: 0 4vw 0 4vw;
}

.lesson-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 6vh;
    max-height: 6vh;
    margin: 0;
    color: #95949c;
}

.date-text {
    bottom: 1vh;
    position: absolute;
    font-size: 3vmin;
    color: #95949c;
    @media (min-width: 650px) {
        font-size: 1.5vmin;
    }
}

.canvas-div {
    height: 8vh;
    width: 8vh;
    float: right;
    margin: 1vh 3vw 0 0;
}

.try-again-sliding-option {
    width: 18vw;
    text-align: center;
}

.delete-sliding-option {
    width: 25vw;
    text-align: center;
}

@media (min-width: 992px) {
    #date-segment {
        width: 67vw !important;
        margin-left: 2.5vw;
    }
    .lesson-text-div {
        width: 50.4vw;
    }
}