<ion-content scrollY="false">

  <ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-menu-button (click)="toggleMenu()">
          <img src="assets/img/menu_icon_white.svg">
        </ion-menu-button>
      </ion-buttons>
      <ion-title class="no-selection">
        My lessons
      </ion-title>
    </ion-toolbar>

    <div id="segments-div">
      <ion-segment id="lessons-filter-segment" mode="ios">
        <ion-segment-button value="all" mode="ios" (click)="allClick()" checked="true">
          All
        </ion-segment-button>
        <ion-segment-button mode="ios" (click)="redAndYellowClick()">
          Almost correct
        </ion-segment-button>
        <ion-segment-button mode="ios" (click)="redClick()">
          Not correct
        </ion-segment-button>
      </ion-segment>
    </div>

  </ion-header>

  <div *ngIf="this.displayHints" id="no-lessons-info" class="no-selection">
    No lessons added
  </div>

  <span *ngIf="this.displayHints" id="tip-add-lesson" class="no-selection">
    Click button &#8680; <br>to add a <b>new lesson</b>
  </span>

  <ion-content  id="list-scroll" *ngIf="!this.displayHints" style="z-index: 0;">

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown-circle" refreshingSpinner="bubbles">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list no-padding no-margin style="padding-top: 2vh; padding-bottom: 110px;">
      <ion-item-sliding *ngFor="let lesson of this.displayedLessons;index as i" #slidingItem>
        <ion-item class="lesson-ion-item" no-padding>
          <div (click)="openLesson(lesson.id)">
            <div>
              <p>
                {{lesson.name}}
              </p>
              <span>
                {{lesson.displayedDate}} ({{lesson.sentences.length}} sentences)
              </span>
            </div>
            <div>
              <canvas #chartsid width="50" height="50"></canvas>
            </div>
          </div>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="editItem(slidingItem, lesson.id)">
            Edit
          </ion-item-option>
          <ion-item-option id="delete-sliding-item" color="danger" (click)="deleteItem(slidingItem, lesson.id)">
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>

  <ion-fab #fab id="add-lesson-fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="addLessonText()">
        <ion-icon name="md-paper"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addLessonFile()">
        <ion-icon name="folder-open"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>