<ion-content scrollY="false">

  <ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-menu-button>
          <img src="assets/img/menu_icon_white.svg">
        </ion-menu-button>
      </ion-buttons>
      <ion-title class="no-selection">
        Your lessons
      </ion-title>
    </ion-toolbar>

    <div id="segments-div">
      <ion-segment id="lessons-filter-segment" mode="ios">
        <ion-segment-button value="all" mode="ios" (click)="filterClick(1)" checked="true">
          All
        </ion-segment-button>
        <ion-segment-button id="center-segment" mode="ios" (click)="filterClick(2)">
          Almost correct
        </ion-segment-button>
        <ion-segment-button mode="ios" (click)="filterClick(3)">
          Not correct
        </ion-segment-button>
      </ion-segment>
    </div>

  </ion-header>

  <ion-content id="list-scroll" *ngIf="!this.displayHints" style="z-index: 0;">

    <ion-list no-padding no-margin style="padding-top: 2vh; padding-bottom: 110px;" #lessonsList>
      <ion-item-sliding *ngFor="let lesson of this.displayedLessons;index as i" #slidingItem>
        <ion-item class="lesson-ion-item" no-padding>
          <div (click)="openLesson(lesson)">
            <div>
              <p>
                {{lesson.name}}
              </p>
              <span>
                {{lesson.displayedDate}} ({{lesson.statistics.length}} sentences)
              </span>
            </div>
            <div>
              <canvas #chartsid width="50" height="50"></canvas>
            </div>
          </div>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="secondary" (click)="openLink(slidingItem, lesson.url)">
            Open link
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    
    <div id="tutorial-div" class="no-selection">
      <ion-icon style="font-size: 5vh; color: var(--ion-color-primary)"
        name="arrow-up"></ion-icon>
      Click on the lesson to start.
    </div>

  </ion-content>
</ion-content>