<ion-content>

    <ion-header>
        <ion-toolbar id="toolbar" mode="ios">
            <ion-buttons slot="start" (click)="goBack()">
                <ion-button>
                    <ion-icon name="arrow-back"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <div class="no-selection" id="info-div">
        You can edit your title
    </div>

    <div>
        <textarea id="edit-text-area" [(ngModel)]="lessonTitle"></textarea>
    </div>

    <div id="submit-title-btn">
        <ion-icon name="checkmark" (click)="submitNewTitle()"></ion-icon>
    </div>
    
</ion-content>