.header-md:after {
    background-image: none;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

#toolbar {
    --background: none;
    padding: 0.5vh 0;

    ion-buttons {
        margin-left: 4%;

        ion-button {
            --border-radius: 50%;

            ion-icon {
                color: #45b8ff;
            }
        }
    }

    ion-title {
        font-size: 2.5vh;
        color: var(--ion-color-primary);
    }
}

ion-header {
    margin-bottom: 12vh;
}

#edit-text-area {
    width: 90vw;
    min-width: 90vw;
    max-width: 90vw;
    height: 30vh;
    min-height: 10vh;
    max-height: 50vh;
    font-size: 5vh;
    line-height: 6vh;
    margin: 4vh 5vw 4vh 5vw;
    padding: 1vh;
    outline: none;
    border: 1px solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: black;
    font-style: italic;

    @media (min-width: 992px) {
        width: 60vw;
        min-width: 60vw;
        max-width: 60vw;
        margin-left: 6vw;
    }
}

#submit-title-btn {
    font-size: 7vh;
    text-align: center;
    color: white;

    ion-icon {
        background: #00f2d0;
        border-radius: 5vh;
        padding: 1.5vh;
        cursor: pointer;
        
        transition: color 0.3s ease-in-out;
        -webkit-transition: color 0.3s ease-in-out;

        &:hover {
            color: greenyellow;
        }
    }
}