<ion-content>
  <p [innerHTML]="this.guessPage.sentenceShown" id="sentence-to-show"></p>
</ion-content>
<ion-footer id="footer">
  <ion-toolbar mode="ios" no-padding>

    <div id="chars">
      <div class="char-box no-selection" id="first-char-box" (click)="handleBoxClick(0)">
        <div class="front">{{firstCharBack}}</div>
        <div class="back">{{firstChar}}</div>
      </div>
      <div class="char-box no-selection" id="second-char-box" (click)="handleBoxClick(1)">
        <div class="front">{{secondCharBack}}</div>
        <div class="back">{{secondChar}}</div>
      </div>
      <div class="char-box no-selection" id="third-char-box" (click)="handleBoxClick(2)">
        <div class="front">{{thirdCharBack}}</div>
        <div class="back">{{thirdChar}}</div>
      </div>
      <div class="char-box no-selection" id="fourth-char-box" (click)="handleBoxClick(3)">
        <div class="front">{{fourthCharBack}}</div>
        <div class="back">{{fourthChar}}</div>
      </div>
    </div>

    <div id="bottom-bar-container">
      <ion-button id="prev-sentence-button" (click)="prevSentenceClick()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </ion-button>

      <ion-button id="hint-button"
        [ngStyle]="{'box-shadow': hintIsClicked ? yellowHighlight : 'none'}"
        (click)="hintClick()">
        <p>Open</p><p>●</p>
      </ion-button>

      <ion-button text-center id="give-up-button" (click)="giveUpClick()">
        <p>Open</p><p>●●●</p>
      </ion-button>

      <ion-button text-center id="next-sentence-button" (click)="nextSentenceClick()">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </ion-button>
    </div>

  </ion-toolbar>
</ion-footer>