<ion-content>
  <p [innerHTML]="sentenceShown" id="sentence-to-show"></p>
</ion-content>
<ion-footer id="footer">
  <ion-toolbar mode="ios" no-padding class="no-selection">
    <div id="chars">
      <div class="char-box" id="first-char-box" (click)="firstCharBoxClick()">
        <div class="front">{{firstCharBack}}</div>
        <div class="back">{{firstChar}}</div>
      </div>
      <div class="char-box" id="second-char-box" (click)="secondCharBoxClick()">
        <div class="front">{{secondCharBack}}</div>
        <div class="back">{{secondChar}}</div>
      </div>
      <div class="char-box" id="third-char-box" (click)="thirdCharBoxClick()">
        <div class="front">{{thirdCharBack}}</div>
        <div class="back">{{thirdChar}}</div>
      </div>
      <div class="char-box" id="fourth-char-box" (click)="fourthCharBoxClick()">
        <div class="front">{{fourthCharBack}}</div>
        <div class="back">{{fourthChar}}</div>
      </div>
    </div>
    <div id="hint-button-div">
      <ion-button text-center shape="round" id="hint-button"
        [ngStyle]="{'box-shadow': hintIsClicked ? yellowHighlight : 'none'}" [disabled]="hintIsClicked"
        (click)="hintClick()">
        ?
      </ion-button>
    </div>
    <div id="give-up-and-next-button-container">
      <ion-button text-center id="give-up-button" (click)="giveUpClick()">
        Give<br>up
      </ion-button>
      <ion-button text-center id="next-sentence-button"
        [ngStyle]="{'box-shadow': this.curSentence().isSolved ? greenHighlight : 'none'}" (click)="nextSentenceClick()">
        Next
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>