<ion-content>
  <p [innerHTML]="this.guessPage.sentenceShown" id="sentence-to-show"></p>
</ion-content>
<ion-footer id="footer">
  <ion-toolbar mode="ios" no-padding class="no-selection" style="height: 40vmin;">

    <div id="chars">
      <div class="char-box" id="first-char-box" (click)="firstCharBoxClick()">
        <div class="front">{{firstCharBack}}</div>
        <div class="back">{{firstChar}}</div>
      </div>
      <div class="char-box" id="second-char-box" (click)="secondCharBoxClick()">
        <div class="front">{{secondCharBack}}</div>
        <div class="back">{{secondChar}}</div>
      </div>
      <div class="char-box" id="third-char-box" (click)="thirdCharBoxClick()">
        <div class="front">{{thirdCharBack}}</div>
        <div class="back">{{thirdChar}}</div>
      </div>
      <div class="char-box" id="fourth-char-box" (click)="fourthCharBoxClick()">
        <div class="front">{{fourthCharBack}}</div>
        <div class="back">{{fourthChar}}</div>
      </div>
    </div>

    <div id="bottom-bar-container">
      <ion-button text-center id="prev-sentence-button"
        [ngStyle]="{'box-shadow': this.curSentence().solvedStatus ? greenHighlight : 'none'}"
        (click)="prevSentenceClick()">
        <ion-icon name="ios-arrow-back" style="font-size: 7vh"></ion-icon>
      </ion-button>

      <ion-button shape="round" id="hint-button" [ngStyle]="{'box-shadow': hintIsClicked ? yellowHighlight : 'none'}"
        (click)="hintClick()">
        Open<br>*
      </ion-button>

      <ion-button text-center id="give-up-button" (click)="giveUpClick()">
        Open<br>****
      </ion-button>

      <ion-button text-center id="next-sentence-button"
        [ngStyle]="{'box-shadow': this.curSentence().solvedStatus ? greenHighlight : 'none'}"
        (click)="nextSentenceClick()">
        <ion-icon name="ios-arrow-forward" style="font-size: 7vh;"></ion-icon>
      </ion-button>
    </div>

  </ion-toolbar>
</ion-footer>