.sentence-with-underscore {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    letter-spacing: 0.07em;
    cursor: pointer;
}

.selected-color{
    border: 1px solid orange;
    border-radius: 4px;
    padding: 4px;
}