<ion-content scrollY="false">

  <ion-header>
    <ion-toolbar mode="ios">

      <ion-buttons slot="start" (click)="goBack()">
        <ion-button>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>
        Lesson adding
      </ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-content padding>

    <input id="file-input" type="file">

    <ion-input id="lesson-name-input" (keyup)="onKeyLessonName($event)"
      [ngStyle]="{ 'border-color': lessonNameInputIsValidated ? '#808080' : '#F00' }" 
      [(ngModel)]="lessonName" placeholder="Enter lesson name"></ion-input>
    <ion-input id="lesson-url-input" (keyup)="onKeyLessonUrl($event)"
      [ngStyle]="{ 'border-color': lessonUrlInputIsValidated ? '#808080' : '#F00' }"
      [(ngModel)]="lessonUrl" placeholder="Enter lesson url"></ion-input>

    <ion-buttons (click)="addNewLesson()" id="save-lesson-button">
      <ion-button color="primary" fill="outline">Save lesson</ion-button>
    </ion-buttons>

  </ion-content>
</ion-content>