.header-md:after {
    background-image: none;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-toolbar {
    --background: none;

    :first-child {
        color: rgb(69, 184, 255);
        margin-left: 4%;

        ion-button {
            color: #45b8ff;
        }
    }

    ion-title {
        color: #45b8ff;
    }
}

#file-input {
    width: calc(100vw - 32px);
    background-color: var(--ion-color-step-50);
    margin-top: 20vh;
    padding-top: 3.5vh;
    padding-left: calc(50vw - 128px);
    height: 30vh;
    outline: 2px dashed black;
    outline-offset: -10px;
    border-radius: 8px;
    @media (min-width: 992px) {
        width: calc(72vw - 32px);
        padding-left: calc(36vw - 128px);
    }
}

$inputs-border: 1px solid grey;

#lesson-name-input {
    text-align: center;
    border: $inputs-border;
    border-radius: 10px;
    margin-top: 30vh;
}

#lesson-url-input {
    text-align: center;
    margin-top: 2vh;
    border: $inputs-border;
    border-radius: 10px;
}

#save-lesson-button {
    margin-left: calc(50vw - 20vmin - 16px);
    margin-top: 4vh;
    @media (min-width: 992px) {
        margin-left: calc(36vw - 20vmin - 16px);
    }

    ion-button {
        width: 40vmin;
    }
}

#sentence-text-textarea {
    margin-top: 4vh;
    text-align: center;
    border: $inputs-border;
    border-radius: 10px;
}

$buttons-margin: calc(50vw - 40vmin - 16px);

#save-sentence-button {
    margin-left: $buttons-margin;
    margin-top: 4vh;
    @media (min-width: 992px) {
        display: inline-block;
        margin-left: 6vw;
    }
}

#save-words-button {
    margin-left: $buttons-margin;
    margin-top: 2vh;
    @media (min-width: 992px) {
        display: inline-block;
        margin-left: 2vw;
    }
}

#save-words-button ion-button,
#save-sentence-button ion-button {
    width: 80vmin;
    @media (min-width: 992px) {
        width: 28vw;
    }
}
