<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Lesson adding
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-input (keyup)="onKeyLessonName($event)" 
    [ngStyle]="{ 'border-color': lessonNameInputIsValidated ? '#808080' : '#F00' }"
    id="lesson-name-input" [(ngModel)]="lessonName" inputmode="text" placeholder="Enter lesson name"></ion-input>
  <ion-input id="lesson-url-input"
  (keyup)="onKeyLessonUrl($event)"
  [ngStyle]="{ 'border-color': lessonUrlInputIsValidated ? '#808080' : '#F00' }"
  [(ngModel)]="lessonUrl" inputmode="url" placeholder="Enter lesson url"></ion-input>

  <ion-buttons (click)="addNewLesson()" id="save-lesson-button">
    <ion-button style="width: 40vmin;" color="primary" fill="outline">Save lesson</ion-button>
  </ion-buttons>

  <ion-textarea id="sentence-text-textarea"
  (keyup)="onKeySentenceText($event)"
  [ngStyle]="{ 'border-color': sentenceTextTextareaIsValidated ? '#808080' : '#F00' }"
  [(ngModel)]="sentenceText" rows="4" placeholder="Enter sentence text">
  </ion-textarea>
  <ion-textarea id="sentence-words-textarea"
  (keyup)="onKeySentenceWords($event)"
  [ngStyle]="{ 'border-color': sentenceWordsTextareaIsValidated ? '#808080' : '#F00' }"
  [(ngModel)]="sentenceHiddenWords" rows="4" placeholder="Enter positions of hiding start position and number of sequent characters to hide.&#10;Separate hidings with vertical slash, e.g.  0-3|6-1|10-2">
  </ion-textarea>

  <ion-buttons (click)="addNewSentenceToLesson()" id="save-sentence-button">
    <ion-button style="width: 56vmin;" color="primary" fill="outline">Add sentence to lesson</ion-button>
  </ion-buttons>

</ion-content>