<ion-content>

  <ion-header>
    <ion-toolbar mode="ios" id="toolbar">
      <ion-title>Share lesson</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">
          <ion-label>Close</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="emailSearchForm" (ngSubmit)="startSearch()">
    <ion-input id="search-user-input" text-center type="email"
      formControlName="email" placeholder="Enter user email">
    </ion-input>
    <ion-button id="search-btn" type="submit">
      Search
    </ion-button>
  </form>

  <ion-spinner *ngIf="!userIsLoaded"></ion-spinner>

  <div *ngIf="userIsLoaded" id="results-div">
    <ion-label [@enterAnimation]>
      {{ user.email }}
    </ion-label>

    <div id="users-list" *ngIf="userIsLoaded && user.id > 0" [@enterAnimation]>
      <img id="user-avatar" [src]="user.avatar" alt="avatar">
      <ion-button id="send-btn" (click)="shareLesson()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </div>
  </div>

</ion-content>