<ion-content>
  <ion-spinner *ngIf="!usersAreLoaded" [@enterAnimation] name="dots"></ion-spinner>

  <div *ngIf="usersAreLoaded">
    <ion-searchbar
      id="users-search-bar"
      (ionChange)="filterUsers($event)">
    </ion-searchbar>

    <div id="no-users-found" *ngIf="users.length === 0">No users found</div>

    <ion-list id="users-list" *ngIf="usersAreLoaded" [@enterAnimation]>
      <div *ngFor="let user of users">
          <img id="user-avatar" [src]="user.avatar" alt="avatar">
          <p>
            {{ user.email }}
          </p>
      </div>
    </ion-list>
  </div>

  <ion-button id="dismiss-btn" (click)="dismissModal()">
    Dismiss
  </ion-button>

</ion-content>