ion-spinner {
    position: absolute;
    left: calc(50% - 14px);
    top: 40%;
}

ion-button {
    transition: background .2s ease-in-out;
    -webkit-transition: background .2s ease-in-out;
}

#search-user-input {
    border-radius: 8px;
    border: 1px solid var(--ion-color-primary);
    margin: 2% 4%;
    width: 92%;
}

#search-btn {
    width: 30%;
    margin-left: 35%;
}

#user-avatar {
    height: 150px;
    width: 150px;
    margin-top: 5%;
    background: #FFF;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#results-div {
    margin-top: 10%;
    text-align: center;
}

#send-btn {
    display: table;
    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
}

#dismiss-btn {
    position: fixed;
    bottom: 8px;
    width: 40%;
    height: 2.5vh;
    margin: 0 0 0 30%;
    font-size: 1.75vh;
    color: #FFF;
    --background: var(--ion-color-danger-tint);

    @media (max-width: 991px) {
        height: 6vh;
        font-size: 2.5vh;
    }
}

#users-search-bar {
    position: fixed;
    top: 0;
    z-index: 1000001;
}