<ion-header id="header">
  <ion-toolbar mode="ios" id="toolbar">
    <ion-buttons id="menu-button-outer" slot="start">
      <ion-menu-button id="menu-button-inner" (click)="toggleMenu()">
        <img src="assets/img/menu_icon_white.svg">
      </ion-menu-button>
    </ion-buttons>
    <ion-title id="sign-in-title">Sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="forms">
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">

    <div id="form-div">
      <ion-label id="email-label">Email</ion-label>
      <ion-input id="email-input" autocomplete="on" formControlName="email" required></ion-input>

      <div *ngIf="submitted && formData.email.errors" class="error-label">
        <div *ngIf="formData.email.errors.required">
          This field is required
        </div>
      </div>

      <div *ngIf="formData.email.errors && formData.email.touched && !formData.email.errors.required && submitted" class="error-label">
        <div>
          Invalid email
        </div>
      </div>

      <div style="margin-bottom: 4vh;"></div>

      <ion-label id="password-label" position="floating">Password</ion-label>
      <ion-input id="password-input" (click)="togglePasswordVisibility($event)" autocomplete="on" type="password" formControlName="password" required>
        <ion-icon id="lock-icon" name="eye"></ion-icon>
      </ion-input>
      

      <div *ngIf="submitted && formData.password.errors" class="error-label">
        <div *ngIf="formData.password.errors.required">
          This field is required
        </div>
      </div>

      <div *ngIf="formData.password.errors && formData.password.touched && !formData.password.errors.required && submitted"
        class="error-label">
        <div>
          Password must be at least 6 characters long
        </div>
      </div>
    </div>

    <button id="sign-in-button" class="no-selection" type="submit">
      Sign In / Sign Up
    </button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar mode="ios">
    <ion-title text-center>
      <a (click)="toForget()">Forgot </a>your password?
    </ion-title>
  </ion-toolbar>
</ion-footer>