ion-title {
    padding-inline-start: 0;
    padding-inline-end: 0;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0; 
}

.header-md:after {
    background-image: none;
}

#header {
    border-radius: 0 0 25px 25px;
}

#toolbar {
    min-height: 50px;
    --background: rgb(69, 184, 255);
    border-radius: 0 0 20px 20px;
}

#menu-button-outer {
    color: white;
    margin-left: 4%;
}
#menu-button-inner {
    --color: white;
}

#sign-in-title {
    color: white;
    font-size: 2.5vh;
}

#credentials-form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#form-div {
    width: 70vw;
    max-width: 700px;
    background: white;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(87, 87, 87, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(87, 87, 87, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(87, 87, 87, 0.3);
    border-radius: 20px;
    margin: 7vmax 3vw 0 3vw;
    padding: 2vh 3vmax 4vh 3vmax;

    @media (max-width: 700px) {
        width: 90vw;
    }
}

.credentials-inputs {
    outline: none !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 30px;
}

#email-label {
    font-size: 1.8vh;
    color: #000;
}
#email-input {
    width: 100%;
    font-family: "Arial";
    border-bottom: 2px solid rgb(196, 196, 196);
}

#password-label {
    font-size: 1.8vh;
    color: #000;
}
#password-input {
    width: 95%;
    font-family: "Arial";
    border-bottom: 0;
    ion-icon {
        z-index: -104;
        font-size: 22px;
        position: absolute;
        bottom: 4px;
        right: 0px;
    }

    @media (max-width: 450px) {
        width: 90%;
    }
}

#sign-in-button {
    width: 70vw;
    height: 6vh;
    max-width: 400px;
    border-radius: 100px;
    background: linear-gradient(rgb(68, 207, 255), rgb(69, 184, 255));
    color: white;
    font-size: 3vh;
    margin-top: 4vh;
    outline: none;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(9, 130, 235, 0.25);
    -moz-box-shadow: 0px 0px 10px 1px rgba(9, 130, 235, 0.25);
    box-shadow: 0px 0px 10px 1px rgba(9, 130, 235, 0.25);

    &:hover {
        background: linear-gradient(rgb(69, 184, 255), rgb(68, 207, 255));
    }
}

.error-label {
    font-size: 16px;
    color: red;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
}

a {
    cursor: pointer;
}