<ion-app>
  <ion-split-pane>

    <ion-menu type="overlay" class="no-selection">
      <img id="user-avatar" class="avatar" src="assets/img/account_icon.svg" alt="avatar">
      <ion-content id="menu">
        <ion-menu-toggle *ngIf="!this.loggedIn" auto-hide="false">
          <div tabindex="0" routerLink="/login" routerLinkActive="active">
            <p>Sign In / Sign Up</p>
          </div>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="this.loggedIn" auto-hide="false">
          <div tabindex="0" routerLink="/lessons-list" routerLinkActive="active">
            <p>My lessons</p>
          </div>
        </ion-menu-toggle>
        <ion-menu-toggle *ngIf="this.loggedIn" auto-hide="false">
          <div tabindex="0" routerLink="/account" routerLinkActive="active">
            <p>Account</p>
          </div>
        </ion-menu-toggle>
        <div>
          <ion-select placeholder="Theme" interface="popover" [(ngModel)]="themeName"
            (ionChange)="onChangeTheme($event)">
            <ion-select-option [selected]="this.themeName === 'dark'" value="dark">Dark</ion-select-option>
            <ion-select-option [selected]="this.themeName === 'light'" value="light">Light</ion-select-option>
          </ion-select>
        </div>
        <ion-button id="about-btn" fill="outline" (click)="showAbout()">
          About
        </ion-button>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>