
#menu {
    div {
        cursor: pointer;
        outline: none;
        padding: 4px 4px;
        height: 60px;
        opacity: 1;
        margin: 1vh 0;

        transition: background 0.3s ease;
        -o-transition: background 0.3s ease;
        -ms-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
        -webkit-transition: background 0.3s ease;
    }

    div:hover {
        background: white;

        >p,
        >ion-select {
            border-left: 4px solid #00baff;
            color: #00baff;
        }
    }

    ion-select,
    p {
        height: 52px;
        border-left: 4px solid transparent;
        padding-left: 20px;
        font-size: 32px;

        transition: border-left 0.3s ease, color 0.3s ease;
        -o-transition: border-left 0.3s ease, color 0.3s ease;
        -ms-transition: border-left 0.3s ease, color 0.3s ease;
        -moz-transition: border-left 0.3s ease, color 0.3s ease;
        -webkit-transition: border-left 0.3s ease, color 0.3s ease;
    }

    ion-select {
        align-items: center;
    }

    p {
        margin: 0;
        line-height: 52px;
    }

}

#user-avatar {
    width: 17vmin;
    margin: 4vh auto 3vh auto;
}

.ios #menu {
    --padding-top: 20px;
}

#about-btn {
    position: absolute;
    bottom: 1vh;
    width: 104px;
    margin-left: 100px;

    @media (min-width: 992px) {
        width: 8vw;
        margin-left: 10vw;
    }
}