#menu {
    --padding-start: 8px;
    --padding-end: 8px;

    div {
        cursor: pointer;
        outline: none;
        padding: 4px 4px;
        height: 60px;
        opacity: 1;
        margin: 1vh 0;
        border-radius: 4px;

        transition: background 0.3s ease;
        -webkit-transition: background 0.3s ease;
    }

    div:hover {
        background: white;

        >p,
        >ion-select {
            border-left: 2px solid #00baff;
            color: #00baff;
        }
    }

    ion-select,
    p {
        height: 52px;
        border-left: 2px solid transparent;
        padding-left: 20px;
        font-size: 28px;

        transition: border-left 0.3s ease, color 0.3s ease;
        -webkit-transition: border-left 0.3s ease, color 0.3s ease;

        @media (max-width: 400px) {
            font-size: 24px;
        }
    }

    ion-select {
        align-items: center;
    }

    p {
        margin: 0;
        line-height: 52px;
    }
}

.user-avatar {
    height: 30vmin;
    width: 30vmin;
    background: #FFF;
    object-fit: cover;
    object-position: center;
    margin: 4vh auto 3vh auto;
    border-radius: 50%;

    @media (min-width: 650px) and (max-width: 992px) {
        height: 24vmin;
        width: 24vmin;
    }

    @media (min-width: 992px) {
        height: 18vmin;
        width: 18vmin;
    }
}

#demo-informer {
    width: 50vw;
    position: absolute;
    bottom: 25vh;
    left: -70vw;
    border: 1px solid;
    border-radius: 4px;
    font-size: 3vh;
    color: var(--ion-color-danger);
    text-align: center;

    @media (min-width: 992px) {
        left: -56vw;
    }
}

#about-btn {
    position: absolute;
    bottom: 1vh;
    width: 104px;
    margin-left: calc(50% - 52px);

    @media (min-width: 992px) {
        width: 8vw;
        margin-left: calc(50% - 4vw);
    }
}

.active {
    background: white;

    >p {
        border-left: 2px solid #00baff !important;
        color: #00baff !important;
    }
}

@media (min-width: 992px) {
    ion-menu {
        border-right: 2px solid #00baff !important;
    }
}