.char-component {
    display: inline-block;
    transition: color 300ms ease-in-out;
    width: 16px;
    text-align: center;
    font-family: Arial;
}

.current {
    color: var(--ion-color-primary);
}

.opened {
    color: darkcyan;
    width: auto !important;
}