<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-button id="previous-sentence-button" (click)="previousSentence()"><</ion-button>
    <span id="lesson-progress">
      {{sentenceIndex}} of {{lessonLength}}
    </span>
    <ion-button id="next-sentence-button" (click)="nextSentence()">></ion-button>
  </div>
  <p id="sentence-to-show">
    {{sentenceIndex}}. {{sentenceToShow}}
  </p>
  <div id="characters-row-guessed">
    <div id="first-letter-guessed">
      {{firstCharacter}}
    </div>
    <div id="second-letter-guessed">
      {{secondCharacter}}
    </div>
    <div id="third-letter-guessed">
      {{thirdCharacter}}
    </div>
  </div>
  <div id="lines">
    <div id="first-letter-line"></div>
    <div id="second-letter-line"></div>
    <div id="third-letter-line"></div>
  </div>
  <div id="characters-row">
    <span id="first-letter">
      {{firstCharacter}}
    </span>
    <span id="second-letter">
      {{secondCharacter}}
    </span>
    <span id="third-letter">
      {{thirdCharacter}}
    </span>
  </div>
</ion-content>