ion-content {
    text-align: center;
}

#lesson-progress {
    font-size: 8vmin;
    margin: 0;
    padding: 0;
    margin-bottom: 1vmin;
}

#sentence-to-show {
    font-size: 3vmin;
    font-weight: bold;
    text-align: start;
    padding: 0;
    margin-bottom: 5vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

#characters-row-guessed {
    width: 100%; 
    display: table;
    margin-top: 1%;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#first-letter-guessed {
    width: 20vw;
    font-size: 20vw;
    display: inline-block;
    background-color: rgb(192, 192, 192);
    border-style: solid;
    border-width: 2px;
    border-color: dimgrey;
    margin: 1vmin;
}

#second-letter-guessed {
    width: 20vw;
    font-size: 20vw;
    display: inline-block;
    background-color: rgb(192, 192, 192);
    border-style: solid;
    border-width: 2px;
    border-color: dimgrey;
    margin: 1vmin;
}

#third-letter-guessed {
    width: 20vw;
    font-size: 20vw;
    display: inline-block;
    background-color: rgb(192, 192, 192);
    border-style: solid;
    border-width: 2px;
    border-color: dimgrey;
    margin: 1vmin;
}

#fourth-letter-guessed {
    width: 20vw;
    font-size: 20vw;
    display: inline-block;
    background-color: rgb(192, 192, 192);
    border-style: solid;
    border-width: 2px;
    border-color: dimgrey;
    margin: 1vmin;
}

#previous-sentence-button {
    vertical-align: top;
    height: 4vh;
}

#next-sentence-button {
    vertical-align: top;
    height: 4vh;
}