.lesson-card {
	width: 100%;
	height: 13vh;
	background-color: #FFF;
	margin-bottom: 0.2vh;
	cursor: pointer;
	display: table;
    table-layout: fixed;
}

.lesson-text-div {
	width: 70vw;
	overflow: hidden;
	display: table-cell;
	vertical-align: top;
	padding-top: 2vh;
	padding-left: 4vw;
	padding-right: 2vw;
}

.lesson-text {
	overflow: hidden;
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical; 
	margin-top: 0;
}

.lesson-info {
	height: 100%;
	position: relative;
}

.pie-chart {
    height: 8vh;
    margin: 3px;
	border: 1px solid cadetblue;
}

.date-text {
	bottom: 0.8vh;
	position: absolute;
}

.forward-icon {
	bottom: 1vh;
	right: 1vh;
	position: absolute;
}
