.lesson-card {
	background-color: #FFF;
	border-radius: 1vw;
	padding: 4px;
	margin: 2vmin;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
	position: relative;
	padding: 8px;
}

.lesson-name {
	margin-top: 0;
	font-size: 6vmin;
}

.lesson-creation-date {
	font-size: 4vmin;
}