#date-segment {
	width: 95vw !important; 
	margin-left: 2.5vw; 
	margin-top: 1vh;
}

.ios :host #date-segment {
	margin-bottom: 1vh;
}

.lesson-card {
	width: 100%;
	height: 13vh;
	background-color: #FFF;
	margin-bottom: 0.2vh;
	cursor: pointer;
	display: table;
    table-layout: fixed;
}

.lesson-text-div {
	width: 70vw;
	overflow: hidden;
	display: table-cell;
	vertical-align: top;
	padding-top: 2vh;
	padding-left: 4vw;
	padding-right: 2vw;
}

.lesson-text {
	overflow-y: auto;
	text-overflow: ellipsis;
	line-height: 3vh;
	max-height: 6vh;
	margin-top: 0;
}

.lesson-info {
	height: 100%;
	position: relative;
}

.pie-chart {
    height: 8vh;
    margin: 3px;
	border: 1px solid cadetblue;
}

.date-text {
	bottom: 0.8vh;
	position: absolute;
}

.forward-icon {
	bottom: 1vh;
	right: 1vh;
	position: absolute;
}

@media (min-width: 992px) {
	#date-segment {
		width: 67vw !important;
	}

	.lesson-text-div {
		width: 50.4vw;
	}
}