<ion-content scrollY="false">

  <ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start" (click)="goBack()" id="back-button">
        <ion-button>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        {{lessonTitle}}
      </ion-title>
      <ion-buttons slot="end" id="desktop-refresher-sentences">
        <button id="edit-sentences-button" [ngStyle]="{'color': editModeOn ? 'var(--ion-color-warning)' : 'white'}" (click)="toggleEditingMode()" *ngIf="!parentId">Edit</button>
        <ion-icon name="refresh-circle" *ngIf="globals.platformName === 'web' || globals.platformName === 'electron' ||
          globals.platformName === 'desktop'" (click)="doRefresh()" id="refresher-button"></ion-icon>
      </ion-buttons>
    </ion-toolbar>

    <div id="segments-div">
      <ion-segment id="sentences-filter-segment" class="no-selection" mode="ios" [(ngModel)]="filter"
        (ionChange)="filterChanged()">
        <ion-segment-button value="all" mode="ios" checked="true">
          All
        </ion-segment-button>
        <ion-segment-button value="almost-correct" id="center-segment" mode="ios">
          Almost correct
        </ion-segment-button>
        <ion-segment-button value="not-correct" mode="ios">
          Not correct
        </ion-segment-button>
      </ion-segment>
    </div>

  </ion-header>

  <ion-content id="sentences-list-scroll">

    <ion-refresher *ngIf="globals.platformName === 'ios' || globals.platformName === 'android'"
      (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown-circle" refreshingSpinner="bubbles">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list [@sentencesAnimation]="displayedSentences.length" id="sentences-list" no-padding no-margin>
      <ion-item no-padding class="sentence-ion-item no-selection" *ngFor="let sentence of displayedSentences">
        <div class="controls" *ngIf="!parentId">
          <ion-icon (click)="editItem(sentence.id)" name="create" color="warning"></ion-icon>
          <ion-icon (click)="deleteItem(sentence)" name="trash" color="danger"></ion-icon>
        </div>
        <div [ngClass]="{'dashed': globals.getIsDemo()}" (click)="openSentence(sentence.id)"
          [ngStyle]="{'transform': this.editModeOn ? 'translateX(15%)' : 'translateX(0)'}">
          <div [innerHTML]="sentence.sentencesListSentence"></div>
          <div>
            <canvas #statsSentencesCanvases width="50" height="50"></canvas>
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

  <ion-fab id="add-sentence-fab" *ngIf="!globals.getIsDemo() && !parentId" [ngClass]="{'hidden-btn': contentIsScrolled}"
    vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addSentenceToLesson()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>