<ion-content scrollY="false">

  <ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start" (click)="goBack()">
        <ion-button>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        {{lessonTitle}}
      </ion-title>
    </ion-toolbar>

    <div id="segments-div">
      <ion-segment id="sentences-filter-segment" mode="ios">
        <ion-segment-button value="all" mode="ios" (click)="filterClick(1)" checked="true">
          All
        </ion-segment-button>
        <ion-segment-button id="center-segment" mode="ios" (click)="filterClick(2)">
          Almost correct
        </ion-segment-button>
        <ion-segment-button mode="ios" (click)="filterClick(3)">
          Not correct
        </ion-segment-button>
      </ion-segment>
    </div>

  </ion-header>

  <ion-content id="sentences-list-scroll" style="z-index: 0;">

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown-circle" refreshingSpinner="bubbles">
      </ion-refresher-content>
    </ion-refresher>

    <ion-list id="sentences-list" #sentencesList no-padding no-margin>
      <ion-item-sliding #slidingItem *ngFor="let sentence of this.displayedSentences;index as i">
        <ion-item class="sentence-ion-item" no-padding>
          <div (click)="openSentence(sentence.id)" [ngClass]="{'dashed': this.globals.getIsDemo()}">
            <div>
              <p [innerHTML]="sentence.sentencesListSentence"></p>
            </div>
            <div>
              <div>
                <canvas #chartsid width="50" height="50"></canvas>
              </div>
            </div>
          </div>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option class="delete-sliding-option" color="danger"
            (click)="deleteItem(slidingItem, sentence.lessonId, sentence.id, index)">
            Delete
          </ion-item-option>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>

  </ion-content>

  <ion-fab id="add-sentence-fab" [ngClass]="{'hidden-btn': contentIsScrolled}" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="addSentenceToLesson()">
      <ion-icon name="ios-add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab id="edit-sentence-fab" [ngClass]="{'hidden-btn': contentIsScrolled}" vertical="bottom" horizontal="start">
    <ion-fab-button (click)="editSentence()">
      <ion-icon id="edit-sentence-icon" name="md-create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>