#progress-segment {
    width: 95vw !important;
    margin-bottom: 1vh;
    margin-left: 2.5vw;
    border: 6px solid white;
    border-radius: 20px;
}

:host #all-sentences-button {
    border-radius: 18px 0 0 18px;
}

#red-sentences-button { }

#red-yellow-sentences-button {
    border-radius: 0 18px 18px 0;
}

.header-md:after {
    background-image: none;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

.sentence-ion-item {
    --inner-padding-end: 0px !important;
    --inner-border-width: 0px !important;
}

.sc-ion-segment-ios-h {
    --border-color: #59afff;
    --background-checked: #59afff;
}

.sentence-card {
    width: 100%;
    height: 12vh;
    background-color: var(--ion-color-step-50);
    border-radius: 25px;
    margin: 0.8vh 3vw;
    cursor: pointer;
    display: table;
    table-layout: fixed;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(87, 87, 87, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(87, 87, 87, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(87, 87, 87, 0.3);

    transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    -ms-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;

    &:hover {
        background-color: lightskyblue;
        .sentence-text {
            color: var(--ion-color-step-900);
        }
    }
}

.canvas-div {
    height: 4vh;
    width: 4vh;
    margin: 4vh 5vw 0 0;
}

.sentence-text-div {
    width: 80vw;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: table-cell;
    position: relative;
    vertical-align: top;
    padding: 1vh 4vw 1vh 4vw;
}

.delete-sliding-option {
    width: 25vw;
    text-align: center;
}

.sentence-text {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 6vh;
    max-height: 6vh;
    margin-top: 2vh;
    font-weight: bold;

    transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;
}

@media (min-width: 992px) {
    #progress-segment {
        width: 67vw !important;
        margin-left: 2.5vw;
    }
    .sentence-text-div {
        width: 50.4vw;
    }
}