<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="Lessons"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{this.lessonData.getLessonByID(lessonId).sentences.length.toString() + ' sentences'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed">

  <ion-segment id="progress-segment">
    <ion-segment-button checked="true" (click)="allClick()">
      All
    </ion-segment-button>
    <ion-segment-button (click)="redClick()">
      Red
    </ion-segment-button>
    <ion-segment-button (click)="redAndYellowClick()">
      Red + Yellow
    </ion-segment-button>
  </ion-segment>

  <ion-content style="z-index: 0;">
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown-circle" refreshingSpinner="bubbles">
      </ion-refresher-content>
    </ion-refresher>

    <div class="sentence-card" *ngFor="let sentence of displayedSentences;index as i" (click)="openSentence(i)">
      <div class="sentence-text-div">
        <p class="sentence-text">
          {{i + 1}}. {{sentence.textUnderscored}}
        </p>
      </div>
      <div class="canvas-div">
        <canvas #chartsid width="50" height="50"></canvas>
      </div>
    </div>
  </ion-content>

</ion-content>