#progress-segment {
    width: 95vw !important;
    margin-left: 2.5vw;
    margin-top: 1vh;
}

.ios :host #progress-segment {
    margin-bottom: 1vh;
}

.sentence-card {
    width: 100%;
    height: 12vh;
    background-color: var(--ion-color-step-50);
    color: var(--ion-color-step-850);
    margin-bottom: 0.2vh;
    cursor: pointer;
    display: table;
    table-layout: fixed;
}

.sentence-text-div {
    width: 70vw;
    overflow: hidden;
    display: table-cell;
    position: relative;
    vertical-align: top;
    padding-top: 2vh;
    padding-left: 4vw;
    padding-right: 2vw;
}

.sentence-text {
    overflow-y: auto;
    text-overflow: ellipsis;
    line-height: 3vh;
    max-height: 6vh;
    margin-top: 0;
}

.sentence-info {
    height: 100%;
    position: relative;
}

.pie-chart {
    height: 8vh;
    margin: 3px;
    border: 1px solid cadetblue;
}

.date-text {
    bottom: 4px;
    position: absolute;
    font-size: 3vmin;
}

@media (min-width: 650px) {
    .date-text {
        font-size: 1.5vmin;
    }
}

.forward-icon {
    bottom: 1vh;
    right: 1vh;
    position: absolute;
}

@media (min-width: 992px) {
    #progress-segment {
        width: 67vw !important;
    }
    .sentence-text-div {
        width: 50.4vw;
    }
}