ion-toolbar {
    --background: rgb(69, 184, 255);

    ion-buttons {
        color: white;
        margin-left: 4%;

        ion-button {
            --border-radius: 50%;
            color: white;
        }
    }

    ion-title {
        color: white;
        font-size: 2.5vh;

        @media (min-width: 700px) {
            padding-inline-start: 200px;
            -webkit-padding-start: 200px;
            padding-inline-end: 200px;
            -webkit-padding-end: 200px;
        }
    }

    @media (min-width: 992px) {
        padding-top: 0.5vh !important;
        padding-bottom: 0.5vh;
    }
}

.md ion-toolbar {
    padding: 6px 0 !important;
}

.header-md:after {
    background-image: none;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

#segments-div {
    background: var(--ion-color-primary);
    border-radius: 0 0 20px 20px;
    padding-bottom: 0.4vh;

    .sc-ion-segment-ios-h {
        --border-color: #FFF;
        --background-checked: #FFF;
        color: var(--ion-color-primary);
        --color: #FFF;
        --color-checked: none;
    }

    >:first-child {
        width: 86vw;
        margin-bottom: 1vh;
        margin-left: 7vw;
        border-radius: 20px;

        @media (min-width: 992px) {
            width: 67vw;
            margin-left: 2.5vw;
        }

        ion-segment-button {
            --border-width: 0;
            --background: #47d5ff;
            font-weight: bold;

            @media (min-width: 992px) {
                width: 22.33vw;
            }
        }

        >:first-child {
            border-radius: 18px 0 0 18px;
        }

        >:last-child {
            border-radius: 0 18px 18px 0;
        }
    }

    #center-segment {
        border-right: 2px solid white;
        border-left: 2px solid white;
    }
}

#sentences-list {
    margin-top: 2vh;
    margin-bottom: 15vh;

    @media (min-width: 992px) {
        margin-bottom: 9vh;
    }
}

.sentence-ion-item {
    --inner-padding-end: 0px !important;
    --inner-border-width: 0px !important;
}

.sentence-ion-item> :first-child {
    width: 94vw;
    height: auto;
    background-color: var(--ion-color-step-50);
    border-radius: 4vh;
    margin: 0.8vh 3vw;
    cursor: pointer;
    table-layout: fixed;
    vertical-align: middle;
    z-index: 100;

    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.07);

    transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.07), inset 0 0 0 2px var(--ion-color-primary);
    }

    >:first-child {
        width: 80%;
        display: table-cell;
        position: relative;
        vertical-align: top;
        padding: 1vh 4vw 1vh 4vw;

        @media (min-width: 992px) {
            width: 61.8vw;
        }

        >:first-child {
            word-break: normal;
            font-weight: bold;
            font-family: "Arial";
            font-size: 3.4vmin;
        }
    }

    >:last-child {
        width: 20vw;
        display: table-cell;
        position: relative;
        vertical-align: middle;

        >:first-child {
            height: 4vh;
            width: 4vh;
            float: right;
            margin-right: 6vw;

            @media (min-width: 992px) {
                margin-right: 4vw;
            }
        }
    }
}

.delete-sliding-option {
    width: 12vw;
    text-align: center;
    border-radius: 25px;
    margin: 0.5vh 3vw 0.5vh 0;
    max-width: 160px;
    font-weight: bold;
    z-index: 100;
}

.item-options-ios.item-options-end {
    border-bottom-width: 0;
}

#add-sentence-fab {
    margin-right: 3vh;
    margin-bottom: 3vh;

    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;

    :first-child {
        --background: rgb(69, 184, 255);
        font-size: 30px;
    }
}

.hidden-btn {
    transform: translateY(20vh);
}

#edit-sentence-fab {
    margin-left: 3vh;
    margin-bottom: 3vh;

    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;

    :first-child {
        --background: rgb(69, 184, 255);
        font-size: 30px;
    }
}

.dashed {
    background-color: #F8F9F9 !important;
    border: 2px dashed;
    &:hover {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4) !important;
    }
}