::selection {
    background: #7dddff;
}

#toolbar {
    --background: none;
    ion-buttons {
        position: absolute;
        margin-left: 4%;
        top: 4px;

        ion-button {
            color: #45b8ff;
        }
    }
}

.header-md:after {
    background-image: none;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

#sentence-title {
    font-size: 5vh;
    text-align: center;
    margin: 4vh 5vw 4vh 5vw;

    ion-label {
        margin: 0;
    }

    ion-icon {
        font-size: 5vh;
        margin: 0;
        cursor: pointer;
        
        transition: color 0.4s ease-in-out;
        -o-transition: color 0.4s ease-in-out;
        -ms-transition: color 0.4s ease-in-out;
        -moz-transition: color 0.4s ease-in-out;
        -webkit-transition: color 0.4s ease-in-out;
    
        &:hover {
            color: rgb(69, 184, 255);
        }
    }
}

#selectable-sentence-div {
    width: 90%;
    height: 50vh;
    box-shadow: inset 0px 0px 1px 1px #1b4cee, 0px 0px 1px 1px #1b4cee;
    border-radius: 4px;
    padding: 10px;
    outline: none;
    overflow-y: scroll;
    font-size: 3vh;
    margin-left: 5%;
    -o-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
}

#btns-div {
    display: table;
    width: 100%;
    margin-top: 15vh;
}

.select-btn {
    height: 50px;
    width: 50px;
    display: none;
    position: absolute;
    z-index: 101;
	cursor: pointer;
	text-align: center;
	font-size: 50px;
	color: white;
	background-color: #7dddff;
	border-radius: 25px;
    outline: none;
    
    transition: margin-left 300ms ease-in-out, margin-top 300ms ease-in-out;
    -webkit-transition: margin-left 300ms ease-in-out, margin-top 300ms ease-in-out;
}

#submit-btn, #cancel-btn {
    width: 10vh;
    height: 10vh;
    font-size: 7vh;
    display: table-cell;
    text-align: center;
    color: white;
}

#submit-btn ion-icon {
    background: #00f2d0;
    border-radius: 5vh;
    padding: 1.5vh;
    cursor: pointer;
}

#cancel-btn ion-icon {
    background: #38dbff;
    border-radius: 5vh;
    padding: 1.5vh;
    cursor: pointer;
}