<ion-content padding>
    <div class="no-selection" id="sentence-title">
        {{title}}
    </div>

    <div id="selectable-sentence-div">
        {{sentence}}
    </div>

    <div style="display: table; width: 100%; margin-top: 5vh;">
        <div id="cancel-btn">
            <ion-icon name="close" style="background: #38dbff; border-radius: 5vh; padding: 1.5vh;"></ion-icon>
        </div>
        <div id="submit-btn" (click)="submitSelections()">
            <ion-icon name="checkmark" style="background: #00f2d0; border-radius: 5vh; padding: 1.5vh;"></ion-icon>
        </div>
    </div>

</ion-content>

<div class="select-btn" (click)="addSelectedWord()">
    <ion-icon name="add"></ion-icon>
</div>