<ion-content padding>
    <ion-item class="no-selection" id="sentence-title">
        <ion-label style="margin: 0;">
            {{title}}
        </ion-label>
        <ion-icon id="edit-icon" name="create" slot="end" (click)="editTitle()"></ion-icon>
    </ion-item>

    <div id="selectable-sentence-div">
        {{sentence}}
    </div>

    <div style="display: table; width: 100%; margin-top: 5vh;">
        <div id="cancel-btn">
            <ion-icon name="close"></ion-icon>
        </div>
        <div id="submit-btn" (click)="submitSelections()">
            <ion-icon name="checkmark"></ion-icon>
        </div>
    </div>

</ion-content>

<div class="select-btn" (click)="addSelectedWord()">
    <ion-icon name="add"></ion-icon>
</div>