@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

* {
    font-family: "Kodchasan";
    --ion-font-family: "Kodchasan";
}

.green {
    border-bottom: 2px solid green;
}

.yellow {
    border-bottom: 2px solid yellow;
}

.yellow, .green {
	font-size: 4vh;
	font-family: "Arial";
	user-select: text;
}

.red-text {
    color: #FF7575;
}

.blue-text {
    color: var(--ion-color-primary);
}

.no-selection,
.sc-ion-select-popover-h ion-label.sc-ion-select-popover {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alert-title.sc-ion-alert-md {
    color: black;
}

.alert-wrapper.sc-ion-alert-md {
    border-radius: 16px;
}

.alert-button-group.sc-ion-alert-md {
    justify-content: center;
}

.alert-message.sc-ion-alert-md,
.alert-head.sc-ion-alert-md {
    text-align: center;

    p {
        margin-top: 0;
    }
}

.loading-wrapper.sc-ion-loading-ios {
    --background: white;
    color: black;
}

ion-toast {
    text-align: center;
}

@media (min-width: 992px) {
    ion-toast {
        width: 67vw;
        margin-left: 30.5vw;
    }

    .sc-ion-loading-md-h.sc-ion-loading-md-s, .sc-ion-modal-md.md.hydrated,
    .sc-ion-loading-ios.ios.backdrop-no-tappable.hydrated,
    .modal-wrapper.md.sc-ion-modal-md {
        .loading-wrapper.sc-ion-loading-md {
            margin-left: 0;
        }

        margin-left: 28vw;
    }

    .modal-wrapper.md.sc-ion-modal-md {
        width: 40%;
    }

    .loading-wrapper.sc-ion-loading-ios {
        margin-left: 28vw;
    }

    .sc-ion-alert-md.md.hydrated,
    .sc-ion-alert-ios.ios.hydrated {
        margin-left: 28vw;
    }

    .alert-wrapper.sc-ion-alert-md,
    .alert-wrapper.sc-ion-alert-ios {
        margin-left: 28vw;
    }
}

#alert-1-hdr {
    color: black;
}

ion-toast.toast-black {
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    --background: var(--ion-color-step-950);
    --color: var(--ion-color-step-50);
}