// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.auth-forms {
    padding-top: 3px;
    text-align: center;
    color: red;
    font-size: 12px;
}

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

$letter-spacings: 4px;
$border-width: 4px;

.green {
    letter-spacing: $letter-spacings;
    border-bottom: $border-width solid green;
}

.yellow {
    letter-spacing: $letter-spacings;
    border-bottom: $border-width solid yellow;
}
