// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

* {
    font-family: "Kodchasan";
    --ion-font-family: "Kodchasan";
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.green {
    border-bottom: 2px solid green;
}

.yellow {
    border-bottom: 2px solid yellow;
}

.red-text {
    font-weight: bold;
    color: #FF7575;
}

#user-avatar {
    width: 17vmin;
    margin: 4vh auto 3vh auto;
}

.ios #menu {
    --padding-top: 20px;
}

#menu {
    div {
        cursor: pointer;
        outline: none;
        padding: 4px 4px;
        height: 60px;
        opacity: 1;
        margin: 1vh 0;

        transition: background 0.3s ease;
        -o-transition: background 0.3s ease;
        -ms-transition: background 0.3s ease;
        -moz-transition: background 0.3s ease;
        -webkit-transition: background 0.3s ease;
    }

    div:hover {
        background: white;

        >p,
        >ion-select {
            border-left: 4px solid #00baff;
            color: #00baff;
        }
    }

    ion-select,
    p {
        height: 52px;
        border-left: 4px solid transparent;
        padding-left: 20px;
        font-size: 32px;

        transition: border-left 0.3s ease, color 0.3s ease;
        -o-transition: border-left 0.3s ease, color 0.3s ease;
        -ms-transition: border-left 0.3s ease, color 0.3s ease;
        -moz-transition: border-left 0.3s ease, color 0.3s ease;
        -webkit-transition: border-left 0.3s ease, color 0.3s ease;
    }

    ion-select {
        align-items: center;
    }

    p {
        margin: 0;
        line-height: 52px;
    }

}

.no-selection,
.sc-ion-select-popover-h ion-label.sc-ion-select-popover {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alert-wrapper.sc-ion-alert-md {
    border-radius: 16px;
}

.alert-button-group.sc-ion-alert-md {
    justify-content: center;
}

.alert-message.sc-ion-alert-md,
.alert-head.sc-ion-alert-md {
    text-align: center;

    p {
        margin-top: 0;
    }
}

.loading-wrapper.sc-ion-loading-ios {
    --background: white;
    color: black;
}

@media (min-width: 992px) {
    ion-toast {
        width: 67vw;
        margin-left: 30.5vw;
    }

    .sc-ion-loading-md-h.sc-ion-loading-md-s,
    .sc-ion-loading-ios.ios.backdrop-no-tappable.hydrated {
        .loading-wrapper.sc-ion-loading-md {
            margin-left: 0;
        }

        margin-left: 28vw;
    }

    .loading-wrapper.sc-ion-loading-ios {
        margin-left: 28vw;
    }

    .sc-ion-alert-md.md.hydrated,
    .sc-ion-alert-ios.ios.hydrated {
        margin-left: 28vw;
    }

    .alert-wrapper.sc-ion-alert-md,
    .alert-wrapper.sc-ion-alert-ios {
        margin-left: 28vw;
    }
}

ion-toast.toast-black {
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    --background: var(--ion-color-step-950);
    --color: var(--ion-color-step-50);
}