.lesson-card {
	background-color: #FFF;
	border-radius: 6px;
	padding: 4px;
	margin: 8px;
	box-shadow: 0 2px 4px rgba(214, 205, 205, 0.16), 0 2px 4px rgba(0,0,0,0.23);
	cursor: pointer;
	text-align: center;
}

.lesson-name {
	width: 100%;
	font-size: 24px;
	font-weight: bold;
}