.lesson-card {
	background-color: #FFF;
	border-radius: 6px;
	padding: 4px;
	margin: 8px;
	box-shadow: 0 0 7px rgba(0,0,0,0.6);
	cursor: pointer;
	text-align: center;
}

.lesson-name {
	width: 100%;
	font-size: 24px;
	font-weight: bold;
}