#toolbar {
    padding-top: 2vh;
    --background: none;

    ion-icon {
        color: #45b8ff;
    }
}

.header-md:after {
    background-image: none;
}

.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

#search-bar {
    width: 50vw;
    --background: #FFF;
    --border-radius: 32px;
    --inner-border-width: 0;
    --highlight-color-focused: none;
    border-radius: 32px;

    @media (min-width: 992px) {
        width: 30vw;
    }

    ion-icon {
        color: #b9c5d8;
    }

    ion-input {
        color: black;
    }
}

#add-to-label-div {
    margin-left: 75vw;
    font-size: 3vh;
    font-weight: bold;
    color: #d2dbe9;

    @media (min-width: 992px) {
        margin-left: 55vw;
    }
}

#available-lessons-list {
    height: 68vh;
    overflow-y: scroll;
}

.lesson-ion-item {
    --inner-padding-end: 0px !important;
    --inner-border-width: 0px !important;
}

.lesson-ion-item > :first-child {
    width: 94vw;
    height: 12vh;
    background-color: var(--ion-color-step-50);
    border-radius: 4vh;
    margin: 0.8vh 3vw;
    cursor: pointer;
    display: table;
    table-layout: fixed;

    -webkit-box-shadow: 0px 1px 3px 0px rgba(87, 87, 87, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(87, 87, 87, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(87, 87, 87, 0.3);

    transition: color 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out;
    -ms-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    -webkit-transition: color 0.4s ease-in-out;

    &:hover {
        >:first-child {
            p, span {
                color: rgb(69, 184, 255);
            }
        }
    }

    >:first-child {
        width: 80%;
        overflow: hidden;
        display: table-cell;
        vertical-align: top;
        padding: 1vh 4vw 0 4vw;

        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: 6vh;
            max-height: 6vh;
            margin: 0;
            font-weight: bold;

            transition: color 0.4s ease-in-out;
            -o-transition: color 0.4s ease-in-out;
            -ms-transition: color 0.4s ease-in-out;
            -moz-transition: color 0.4s ease-in-out;
            -webkit-transition: color 0.4s ease-in-out;
        }

        span {
            bottom: 3.5vh;
            position: absolute;
            font-size: 3vmin;
            font-weight: bold;
            color: var(--ion-color-step-850);

            transition: color 0.4s ease-in-out;
            -o-transition: color 0.4s ease-in-out;
            -ms-transition: color 0.4s ease-in-out;
            -moz-transition: color 0.4s ease-in-out;
            -webkit-transition: color 0.4s ease-in-out;

            @media (min-width: 650px) {
                font-size: 1.5vmin;
            }
        }
    }

    >:last-child {
        height: 4vh;
        width: 4vh;
        margin: 4vh 5vw 0 0;
    }
}

#or-div {
    display: table;
    width: 100vw;
    margin-top: 2vh;

    @media (min-width: 992px) {
        width: 72vw;
    }
}

#left-line {
    background-color: #b9c5d8;
    width: 45vw;
    height: 0.5vh;
    margin-bottom: 4px;

    @media (min-width: 992px) {
        width: 33vw;
    }
}

#or-text {
    display: table-cell;
    width: 10vw;
    height: 0.5vh;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    color: #b9c5d8;

    @media (min-width: 992px) {
        width: 6vw;
    }
}

#right-line {
    background-color: #b9c5d8;
    width: 45vw;
    height: 0.5vh;
    margin-bottom: 4px;

    @media (min-width: 992px) {
        width: 33vw;
    }
}

#sign-in-button {
    width: 40vw;
    margin-left: 30vw;
    height: 6vh;
    border-radius: 100px;
    font-weight: bold;
    background: linear-gradient(rgb(68, 207, 255), rgb(69, 184, 255));
    color: white;
    font-size: 3vh;
    margin-top: 2vh;
    outline: none;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(9, 130, 235, 0.25);
    -moz-box-shadow: 0px 0px 10px 1px rgba(9, 130, 235, 0.25);
    box-shadow: 0px 0px 10px 1px rgba(9, 130, 235, 0.25);

    @media (min-width: 992px) {
        margin-left: calc(16vw - 16px);
    }

    transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    -ms-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    -webkit-transition: background 0.4s ease-in-out;

    &:hover {
        background: linear-gradient(rgb(69, 184, 255), rgb(68, 207, 255));
    }
}