<ion-content style="z-index: 0;">

  <ion-header>
    <ion-toolbar id="toolbar" mode="ios">

      <ion-buttons slot="start" (click)="goBack()">
        <ion-button>
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-item id="search-bar">
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-input type="search" autocomplete="on" (ionChange)="filterLessons($event)" placeholder="Search lesson"></ion-input>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <div class="no-selection" id="add-to-label-div">Add to</div>

  <ion-list no-padding no-margin id="available-lessons-list">
    <ion-item-sliding *ngFor="let lesson of this.displayedLessons;index as i" #slidingItem
      (click)="addToExistingLesson(lesson.id)">
      <ion-item class="lesson-ion-item" no-padding>
        <div>
          <div>
            <p>
              {{i + 1}}. {{lesson.name}}
            </p>
            <span>
              {{lesson.displayedDate}}
            </span>
          </div>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <div id="or-div">
    <div id="left-line">
    </div>
    <div class="no-selection" id="or-text">
      or
    </div>
    <div id="right-line">
    </div>
  </div>

  <button id="sign-in-button" (click)="createNewLesson()">
    New lesson
  </button>

</ion-content>