ion-label {
    text-align: center;
}

ion-item {
    cursor: pointer;

    transition: --background 1s ease-in-out;
    -webkit-transition: --background 1s ease-in-out;
}

ion-item:hover {
    --background: #8e8e8e;
    --border-color: transparent;
}

ion-list {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 260px;
    >:last-child {
        --inner-border-width: 0;
    }
}

.list-ios {
    width: auto !important;
    position: -webkit-sticky !important;
}