ion-label {
    text-align: center;
}

ion-item {
    cursor: pointer;

    transition: --background 11s ease-in-out;
    -webkit-transition: --background 11s ease-in-out;
}

ion-item:hover {
    --background: #8e8e8e;
    --border-color: transparent;
}

ion-list {
    padding: 0;
    margin: 0;
    >:last-child {
        --inner-border-width: 0;
    }
}