<ion-list>
  <ion-item (click)="openLink()">
    <ion-icon name="globe" color="secondary"></ion-icon>
    <ion-label>Visit source URL</ion-label>
  </ion-item>
  <ion-item *ngIf="!this.globals.getIsDemo()" (click)="editItem()">
    <ion-icon name="create" color="warning"></ion-icon>
    <ion-label>Edit name</ion-label>
  </ion-item>
  <ion-item *ngIf="!this.globals.getIsDemo()" (click)="deleteItem()">
    <ion-icon name="trash" color="danger"></ion-icon>
    <ion-label>Delete</ion-label>
  </ion-item>
  <ion-item *ngIf="!this.globals.getIsDemo()" (click)="shareLesson()">
    <ion-icon name="share-alt" color="primary"></ion-icon>
    <ion-label>Share</ion-label>
  </ion-item>
</ion-list>